/* Select the scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

/* Select the scrollbar track */
.scrollbar::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
